body {
	line-height: 2;
	font-family: Montserrat, sans-serif;
}

.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 35vw ;
	}

.conteneur {
	height: max-content;
	border: solid;
	box-shadow: 3px -2px 5px #F0F0F0;
	border-style: outset;
	border-width: thin;
	font-size: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	min-height: fit-content;
	text-align: center;
	width: 30%;

}

@font-face {
	font-family: Monserrat, sans-serif;
	src: url(Montserrat-Regular.ttf);
}

@page {
	margin-bottom: 0.8em;
	margin-top: 0.8em;
}

@media (max-width: 1200px) {
	body {
		margin: 0;
	}
	.conteneur {
		font-size: 3vw;
		width: 90vw;
	}

	#toc {
		width: 90vw;
	}
	a {
		text-decoration: underline;
	}
	a:link {
		margin-top: 10%;
		text-align: center;
		text-decoration: underline;
	}
	a:visited {
		text-decoration: underline;
	}
}

p {
	text-indent: 1em;
	margin: 1px auto 60px 10% ;
	line-height: 150%;
	text-align: left;
	;
}

#toc {
	margin-top: 2%;
		margin-bottom: 1%;
	line-height: 2;
	margin-left: auto;
	margin-right: auto;
		height: fit-content;
	width: 30%;
	text-align: center;
	border: solid;
	box-shadow: 3px -2px 5px #F0F0F0;
	border-style: outset;
	border-width: thin;
}

.toc_list {
	text-align: left;
	margin-left: auto;
	font-variant: normal;
}

.toc_title {
	font-weight: 700;
	font-size: 2vw;
	text-align: center;
}

#toc li,
#toc ul,
#toc ul li {
	list-style: outside none none !important;
}


a {
	color: #000;
	text-decoration: none;
}


a:link {
	text-decoration: none;
	text-align: center;
	margin-top: 10%;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

a:hover,
a:active {
	font-size: 110%;
}



.titre {
	font-size: 200%;
	margin-top: 10%;
	margin-bottom: 8%;
	line-height: 200%;
	letter-spacing: 0.1em;
}



h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 8px;
}

h2 {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}

h3 {
	font-size: 1.66em;
	color: #000000;
	text-align: center;
	line-height: 1;
	margin-bottom: 32px
}

h4 {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 18px;
	text-align: center;
}


.myButton {
	color: rgb(206, 206, 206);
	font-size: 16px;
	line-height: 16px;
	padding: 8px;
	border-radius: 19px;
	font-family: Georgia, serif;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
	box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 12px 1px;
	border: 2px solid rgb(28, 110, 164);
	display: inline-block;
}

.myButton:hover {
	background: hsl(204, 14%, 85%);
}

.myButton:active {
	background: rgb(179, 188, 194);
}


